/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  padding: 50px;
  margin: 10px;
  margin-bottom: 60px;
  background-color: white;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #EDF0DA;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
*{
  font-family: "Merriweather Sans", sans-serif;
}

:root {
  --primary_color:#F0F0F0;
  --secondary_color: grey;
}


body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

a {
  text-decoration: none;
  color: blue
}



#title{
  background-color: var(--primary_color);
  margin: 0;
  padding: 10px;
  border-bottom: 3px solid black;
}

.navbar {
  display: flex;
}

.horizontal_list {
  display: flex;
  margin: auto;
  background-color: var(--primary_color);
  margin: 0;
  padding:0 ;
}

.horizontal_list li{
  display: inline;
  float: left;
  margin: 0;
  padding: 0;
}

.horizontal_list a{
  text-decoration: none;
  /* display: block; */
  color: #191919;
  padding: 14px 30px;
  border-right: 2px solid white;
}

.horizontal_list a:hover{
  background-color: lightgrey;
}

#final {
  background-color: black;
  color: #505050
}

#report_header {
  background-color:var(--secondary_color);
  margin: 0;
  padding:0 ;
}